body {
  margin: 0 auto;
  width: 80%;
  /* background-color: rgba(26, 55, 229, 0.06); */
  font-family: 'STIX Two Text', serif;
  color: #292929;
}

img {
  width: 100%;
}

h1 {
  font-size: 25px;
  margin: 20px;
  text-align: center;
  color: #000000;
}

h2 {
  padding: 5px;
  font-size: 18px;
  background-color: #c5c5c5b0;
}

p {
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
}

.menu {
  width: 100%;
  margin:0px;
  padding:0px;
}

.menu li {
  float:left;
  list-style-type:none;
}

.home, .introduction, .history, .pictures {
  width: 25%;
  padding: 10px 0;
  text-align: center;
  background-color: #ffffffee;
}

.home:hover, .introduction:hover, .history:hover, .pictures:hover {
  background-color: #aaaaaaee;
}

#intr, #hist {
  padding-top:20px;
  margin-top:-50px;
}

.pict {
  display: flex;
  align-items: center;
  width: 100%;
  margin:0px;
  padding:0px;
}

.pict li {
  float:left;
  list-style-type:none;
  width: 30%;
  padding: 1%;
}

footer p {
  font-size: 8px;
  text-align: center;
}
