.main_container {
  margin: 0 auto;
  width: 80%;
  font-family: 'STIX Two Text', serif;
  color: #292929;
}

img {
  width: 100%;
}

.title {
  font-size: 25px;
  margin: 20px;
  text-align: center;
  color: #000000;
}

.sub_title {
  padding: 5px;
  font-size: 18px;
  background-color: #c5c5c5b0;
}

article p {
  padding: 5px;
}

.main_container a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
}

.menu {
  width: 100%;
  margin:0px;
  padding:0px;
}

.menu li {
  float:left;
  list-style-type:none;
}

.home, .introduction, .history, .pictures {
  width: 25%;
  padding: 10px 0;
  text-align: center;
  background-color: #ffffffee;
}

.home:hover, .introduction:hover, .history:hover, .pictures:hover {
  background-color: #aaaaaaee;
}

#intr, #hist {
  padding-top:20px;
  margin-top:-50px;
}

.pict {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin:0px;
  padding:0px;
}

.pict li {
  float:left;
  list-style-type:none;
  width: 30%;
  padding: 1%;
}

footer p {
  border-top: 1px solid #292929;
  padding: 1em;
  font-size: 8px;
  text-align: center;
}

/* responsive */
@media(max-width: 700px) {
  html {
    font-size: 87.5%;
  }

  .home, .introduction, .history, .pictures {
    width: 50%;
    padding: 10px 0;
    text-align: center;
    background-color: #ffffffee;
  }

  .pict li {
    float:left;
    list-style-type:none;
    width: 100%;
    padding: 1%;
    align-items: center;
  }
}
